
<div class="publications">
  <!-- Publication 1 -->
  <div class="publication-item">
    <h3>Title of Publication 1</h3>
    <p>Authors: Author 1, Author 2, Your Name</p>
    <p><em>Journal/Conference Name</em>, 2023</p>
    <div class="publication-links">
      <a href="path/to/pdf1" target="_blank">PDF</a>
      <a href="https://doi.org/xxx1" target="_blank">DOI</a>
    </div>
  </div>

  <!-- Publication 2 -->
  <div class="publication-item">
    <h3>Title of Publication 2</h3>
    <p>Authors: Author 1, Your Name</p>
    <p><em>Another Journal/Conference Name</em>, 2022</p>
    <div class="publication-links">
      <a href="path/to/pdf2" target="_blank">PDF</a>
      <a href="https://doi.org/xxx2" target="_blank">DOI</a>
    </div>
  </div>

  <!-- Publication 3 -->
  <div class="publication-item">
    <h3>Title of Publication 3</h3>
    <p>Authors: Author 1, Author 2, Author 3, Your Name</p>
    <p><em>Yet Another Journal/Conference Name</em>, 2021</p>
    <div class="publication-links">
      <a href="path/to/pdf3" target="_blank">PDF</a>
      <a href="https://doi.org/xxx3" target="_blank">DOI</a>
    </div>
  </div>
</div>
