
<div class="publications">
  <ol class="bibliography">
    <!-- Publication 1: SEBRA -->
    <li>
      <div class="row">
        <div class="col col-sm-2 abbr">
          <abbr class="badge rounded w-100">ICLR2025</abbr>
        </div>
        <div id="sebra2025" class="col-sm-8">
          <div class="title">SEBRA: Debiasing through Self-Guided Bias Ranking</div>
          <div class="author">
            Adarsh Kappiyath, Abhra Chaudhuri, Ajay Jaiswal, and 4 more authors
          </div>
          <div class="periodical">
            <em>The Thirteenth International Conference on Learning Representations</em>, 2025
          </div>
          <div class="links">
            <a href="http://arxiv.org/abs/2501.18277" target="_blank">Paper</a>
            <a href="https://kadarsh22.github.io/sebra_iclr25/" target="_blank">Project Page</a>
          </div>
        </div>
      </div>
    </li>

    <!-- Publication 2: DeNetDM -->
    <li>
      <div class="row">
        <div class="col col-sm-2 abbr">
          <abbr class="badge rounded w-100">NeurIPS2024</abbr>
        </div>
        <div id="denetdm2024" class="col-sm-8">
          <div class="title">DeNetDM: Debiasing by Network Depth Modulation</div>
          <div class="author">
            Silpa Vadakkeeveetil Sreelatha, Adarsh Kappiyath, Abhra Chaudhuri, and 1 more author
          </div>
          <div class="periodical">
            <em>The Thirty-eighth Annual Conference on Neural Information Processing Systems</em>, 2024
          </div>
          <div class="links">
            <a href="https://openreview.net/forum?id=0dtA21q83C" target="_blank">Paper</a>
            <a href="https://vssilpa.github.io/denetdm/" target="_blank">Project Page</a>
          </div>
        </div>
      </div>
    </li>

    <!-- Publication 3: Self-Supervised Enhancement -->
    <li>
      <div class="row">
        <div class="col col-sm-2 abbr">
          <abbr class="badge rounded w-100">AAAI2022</abbr>
        </div>
        <div id="latent2022" class="col-sm-8">
          <div class="title">Self-Supervised Enhancement of Latent Discovery in GANs</div>
          <div class="author">
            Adarsh Kappiyath, Silpa Vadakkeeveetil Sreelatha, and S. Sumitra
          </div>
          <div class="periodical">
            <em>Thirty-Sixth AAAI Conference on Artificial Intelligence, AAAI 2022</em>, 2022
          </div>
          <div class="links">
            <a href="https://cdn.aaai.org/ojs/20667/20667-13-24680-1-2-20220628.pdf" target="_blank">Paper</a>
            <a href="https://github.com/kadarsh22/Disentanglement-based-Active-Learning" target="_blank">Project Page</a>
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>
